/* css/styles.css */

/* Background Styles for HTML body elements */
body {
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle 150px at center, #cff3ff, #9bdcf2 60%);
    background-size: 200% 200%;

  }
  